.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  
}

li {
  color: red;
  font: 30px;
  font-weight: bold;
  margin: 10px;
}

.ulDiv {
  margin-right: 70px;
}

h1 {
  font-size: 40px;
}