* {
  margin: 0;
  box-sizing: border-box;
}

.calculator {
  /* background-color: red; */
  width: 35%;
  min-width: 600px;
  margin: auto;

  /* width: 700px; */
}

.buttons-div {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
  width: 150px;
  height: 70px;
  border: 1px solid gray;
  font-size: 24px;
}

button:hover {
  background-color: aliceblue;
}

.input-field {
  width: 100%;
  font-size: 50px;
  text-align: right;
  background-color: rgb(111, 120, 135);
}

.zero {
  width: 50%;
}

.operation {
  background-color: rgb(253, 165, 76);
}
